@model MovieDetailViewModel
@{
    ViewData["Title"] = "Movie Detail";
}
<div class="container">
    <div class="row m-1" style="background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(@Model.Movie.BackdropUrl); background-position:center; background-size:cover;">
        <div class="col-2 offset-2 align-content-center">
            <img style="width:100%;height:auto;" src="@Model.Movie.PosterUrl" alt="Movie Image">
        </div>
        <div class="col-4 offset-1">
            <h3 class="text-white mt-3 mb-3">@Model.Movie.Title</h3>
            <div class="mt-1 mb-1" style="font-size:small; color: lightgray">@Model.Movie.Tagline</div>
            <div class="mt-1 mb-1" style="font-size:small; color: lightgray">@Model.Movie.RunTime m</div>
            <div class="d-inline-block text-white text-bg-success rounded mt-1 mb-1">&nbsp;&nbsp;8.9&nbsp;&nbsp;</div>
            <div class="text-white mt-1 mb-3">@Model.Movie.Overview</div>
        </div>
        <div class="col-2 offset-1 text-center">
            <a class="text-decoration-none text-white bg-transparent" href="#">
                <div class="border-white rounded-1 mt-5">
                    REVIEW
                </div>
            </a>
            @if (Model.IsPurchased) 
            {
                <a class="text-decoration-none text-black" href="#">
                    <div class="mt-3 bg-white rounded-1">WATCH</div>
                </a>
            }
            else 
            {
                <a class="text-decoration-none text-black" href="#">
                    <div class="mt-3 bg-white rounded-1">BUY</div>
                </a>
            }

        </div>
    </div>
    <div class="row p-1">
        <div class="col-4">
            <div class="border-bottom border-light pb-2">MOVIE FACTS</div>
            <ul class="list-unstyled p-2">
                <li class="border-bottom pb-2 mb-2">Release Date <span class="bg-black text-white">@Model.Movie.ReleaseDate?.ToString("MMM d, yyyy")</span></li>
                <li class="border-bottom pb-2 mb-2">Run Time <span class="bg-black text-white">@Model.Movie.RunTime</span> m</li>
                <li class="border-bottom pb-2 mb-2">Box Office $<span class="bg-black text-white">@Model.Movie.Revenue</span></li>
                <li class="border-bottom pb-2 mb-2">Budget $<span class="bg-black text-white">@Model.Movie.Budget</span></li>
            </ul>
            <div class="border-bottom border-light pb-2">TRAILERS</div>
            @foreach (var trailer in Model.Movie.Trailers)
            {
                <a class="text-decoration-none text-black" href="@trailer.TrailerUrl">
                <div class="border-bottom pb-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-play-fill p-1" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6 5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43V5.884z" />
                    </svg> @trailer.Name
                </div>
                </a>
            }
        </div>
        <div class="col-6 offset-1">
            <div class="border-bottom border-light pb-2">CAST</div>
                @foreach (var cast in Model.Casts) 
                {
                    <div class="row border-bottom border-light p-2">
                        <div class="col-2"><img class="rounded-circle" src="@cast.ProfileUrl" width="25" /></div>
                        <div class="col-5">@cast.Actor</div>
                        <div class="col-5">@cast.Character</div>
                    </div>
                }
        </div>
    </div>
</div>